# ==============================
# Python
# ==============================

venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Environment / IDE
# ==============================

.env
.vscode/
.idea/

# ==============================
# Streamlit
# ==============================

.streamlit/secrets.toml

# ==============================
# GEFS RAW WEATHER DATA
# Large binary files
# ==============================

data/raw/
*.grib2
*.grb2
*.idx

# ==============================
# Large processed files
# ==============================

*.nc
*.nc4
*.zarr/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db
desktop.ini